<h3>Termék adatok felvétele</h3>
<hr>
<div class="formContainer">
    <div class="form-floating mb-3">
        <input type="text" id="nev" class="form-control">
        <label for="nev">Termék neve</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="nev" class="form-control">
        <label for="nev">Termék ár</label>
    </div>
</div>
<button type="button" class="btn btn-primary">Mentés</button>
<button class="btn btn-warning" routerLink="/products">Vissza</button>
