<h3>Kategória kezelés</h3>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategória</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; index as i">
            <td>{{i+1}}</td>
            <td>{{category.kategoriaNev}}</td>
            <td class="text-end">
                <button class="btn btn-sm btn-warning mx-1" routerLink="/categoryform/{{category.id}}"><i class="bi bi-6-circle-fill"></i></button>
                <button class="btn btn-sm btn-danger" (click)="delete(category.id)"><i class="bi bi-7-circle-fill"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary mb-3" routerLink="/categoryform">Adatok felvétele</button>