<h3>Forgalom kezelés</h3>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategória</th>
            <th>Termék</th>
            <th>Vevő</th>
            <th class="text-end">Mennyiség</th>
            <th>Nettó ár</th>
            <th class="text-end">Összesen</th>
            <th>Kiadva</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let traffic of traffics; index as i">
            <td>{{i+1}}</td>
            <td>{{traffic.kategoriaNev}}</td>
            <td>{{traffic.termek}}</td>
            <td>{{traffic.vevo}}</td>
            <td class="text-end">{{traffic.mennyiseg}} {{traffic.egyseg}}</td>
            <td class="text-end">{{traffic.nettoar}} Ft</td>
            <td class="text-end">{{traffic.mennyiseg * traffic.nettoar}} Ft</td>
            <td class="text-center">{{ traffic.kiadva ? 'Kiadva✔' : 'Folyamatban'}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary mb-3" routerLink="/trafficform">Adatok felvétele</button>