<h3>Forgalom kezelés</h3>
<hr>
<button type="button" class="btn btn-primary mb-3" routerLink="/trafficform">Adatok felvétele</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategória</th>
            <th>Termék</th>
            <th>Vevő</th>
            <th class="text-end">Mennyiség</th>
            <th class="text-end">Nettó ár</th>
            <th class="text-end">Összesen</th>
            <th>Kiadva</th>
        </tr>
    </thead>
</table>