<div class="formContainer mt-2">
    <input type="text" class="form-control" id="termekField" placeholder="Termék">
    <input type="text" class="form-control" id="vevoField" placeholder="Vevő">
    <input type="text" class="form-control" id="kategoriaField" placeholder="kategoriaId">
    <input type="text" class="form-control" id="nettoField" placeholder="Nettó ár">
    <input type="text" class="form-control" id="mennyisegField" placeholder="Mennyiség">
    <input type="text" class="form-control" id="kiadvaField" placeholder="Kiadva">
    <div class="buttonContainer mt-3">
        <button type="button" class="btn btn-primary">Mentés</button>
        <button type="button" class="btn btn-warning">Mégsem</button>
    </div>
</div>
