<div class="formContainer mt-2">
    <div class="fieldContainer">
        <input type="text" class="form-control" id="termekField" placeholder="Termék" [(ngModel)] = "newTraffic.termek">
        <input type="text" class="form-control" id="vevoField" placeholder="Vevő">
        <select class="form-select" aria-label="Select">
            <option selected >Válassz kategóriát</option>
            <option *ngFor="let category of allCategories" value="{{category.id}}">{{category.kategoriaNev}}</option>
          </select>
        <input type="text" class="form-control" id="nettoField" placeholder="Nettó ár">
        <input type="text" class="form-control" id="mennyisegField" placeholder="Mennyiség">
        <input type="text" class="form-control" id="egysegField" placeholder="Egység">
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-outlined">Kiadva</label><br>
    </div>
    <div class="buttonContainer mt-3">
        <button type="button" class="btn btn-primary" (click)="save()">Mentés</button>
        <button type="button" class="btn btn-warning" routerLink="/trafics">Mégsem</button>
    </div>
</div>
