<h3>Termékek</h3>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Név</th>
            <th>Ár</th>
            <th>Kategória</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; index as i">
            <td>{{i+1}}</td>
            <td>{{product.termek}}</td>
            <td>{{product.nettoar}}/{{product.egyseg}}</td>
            <td>{{product.kategoriaNev}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" routerLink="/productsform">Adatok felvétele</button>
