<h3>Termékek</h3>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Név</th>
            <th>Ár</th>
            <th>Kategória</th>
            <th class="text-end">Műveletek</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; index as i">
            <td>{{i+1}}</td>
            <td>{{product.termekNev}}</td>
            <td>{{product.nettoAr}}/{{product.egyseg}}</td>
            <td>{{product.kategoriaNev}}</td>
            <td class="text-end">
                <button class="btn btn-warning btn-sm mx-1" routerLink="/productsform/{{product.id}}"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-danger btn-sm" (click)="delete(product.id)"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" routerLink="/productsform">Adatok felvétele</button>
